body {
    margin: 0px;
    overflow-x: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.content-text {
    margin: 50px;
    max-width: 377px;
    min-width: 377px;
    height: 521px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-family: 'Open Sans', sans-serif;
}

.content-text h1 {
    font-size: 75px;
    margin: 0px;
    margin-left: -4px;
    font-family: 'Solway', serif;
}

.content-text h5 {
    font-size: 17.3px;
    margin: 0px;
    font-family: 'Solway', serif;
}

#description {
    margin: 0px;
    margin-top: 25px;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

#links {
    margin: 0px;
    font-size: 16px;
}

#links a {
    text-decoration: underline;
    color: inherit;
}

#links a:hover {
    text-decoration: none;
}

#links a:visited {
    color: inherit;
}

.content-text .subscribe {
    margin: 0px;
    margin-top: 25px;
    font-size: 16px;
}

.content-text .subscribe p {
    margin: 0px;
    margin-top: 5px;
}

.mobile-images {
    display: none;
}

@media only screen and (max-width: 800px) {
    .web-images {
        display: none;
    }

    .mobile-images {
        width: 477px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    .mobile-images img {
        width: 30%;
        height: auto;
    }

    .spacer {
        min-width: 50px;
    }

    .content {
        flex-direction: column;
    }

    .container {
        height: inherit;
    }
}